<div class="jumbotron">
  <h1>It's your Drinking Circle...</h1>
  <p class="lead">the people you have fun with.  You get ready for the night together, even if you don't spend it, or end it with one another.  Drinking Circle brings whatever our value proposition is, and you're going to be so intrigued you'll want to sign up now:   </p>
    
  <%= form_for(resource, :html => { :class => "form-inline", :role => "form" }, :as => resource_name, 
  :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group"><%#= f.label :email %><%= f.email_field :email, placeholder: "Email Address", class: "form-control", :autofocus => true %></div>
    <div class="form-group"><%#= f.label :password %><%= f.password_field :password, placeholder: "Password", class: "form-control" %></div>
    <div class="form-group"><%#= f.label :password_confirmation %><%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %></div>
    <div class="form-group"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
    <% end %>
</div>


