<h1>Login</h1>

<% if flash[:error] %>
    <div id="error_explanation">
      <%= flash[:error] %>
    </div>
<% end %>

<%= form_tag do %>
    <p>
      Name: <%= text_field_tag :name, params[:name] %>
    </p>
    <p>
      Password: <%= password_field_tag :password, params[:password] %>
    </p>
    <p>
      <%= submit_tag "Login" %>
    </p>
<% end %>

