

    <div class="container-fluid">
      <div class="wrapper">
<p>
<div class="col-xs-6 col-s-6 col-l-6">
<div class="well">
 <h1> <%= @recipe.name %></h1>

<p>

 Created By: <%= link_to @recipe.user %>
</p>

<p>
  <h1>Ingredients:</h1><br>
  <% if @recipe.ingredients.empty? %>
      No ingredients for the question have been defined.
  <% else %>
  <% end %>

<% showRecipeIngredients = [] %>
<% if @recipe.recipe_ingredients %>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <ul>
          <li><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.unit} #{recipe_ingredient.ingredient.name}" %></li>
          <% showRecipeIngredients.push(recipe_ingredient.ingredient.name.downcase)%>
        </ul>
    <% end %>
<% end %>
    <h1>Instructions:</h1>
    <%= @recipe.instruction %>

  </div>
  </div>

<div class= "col-xs-6 col-s-6 col-l-6">
  <div class="well">
<% similarRecipes = [] %>
<h1>Similar Drinks</h1>
<% @recipes = Recipe.find(:all) %>

<% @recipes.each do |recipe| %>
   <%if recipe.name != @recipe.name %>
        <% recipeIngredients = [] %>
        <% isIncluded = false %>
        <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <% recipeIngredients.push(recipe_ingredient.ingredient_id) %>
        <% end %>

        <% recipeIngredientArray = [] %>
        <% @ingredients = Ingredient.find(:all)  %>
        <% Ingredient.all.each do |ingredient|%>
            <% if recipeIngredients.include? ingredient.id%>
                <% recipeIngredientArray.push(ingredient.name.downcase) %>
            <%end%>
        <%end%>




        <% require 'set' %>
        <% set_checkRecipeIngredients = recipeIngredientArray.to_set %>
        <% set_showRecipeIngredients = showRecipeIngredients.to_set %>
        <% a2bisIncluded = false %>
        <% recipeIngredientArray.each do |ria| %>
           <%tempArray = [ria] %>
           <% if tempArray.to_set.subset? set_showRecipeIngredients %>
                <% a2bisIncluded = true %>
                <% break %>
           <% end %>
        <% end %>
        <% b2aisIncluded = false %>
        <% showRecipeIngredients.each do |ria| %>
            <%tempArray = [ria] %>
            <% if tempArray.to_set.subset? set_checkRecipeIngredients %>
                <% b2aisIncluded = true %>
                <% break %>
            <% end %>
        <% end %>

        <% if a2bisIncluded || b2aisIncluded %>
           <% similarRecipes.push(recipe) %>
        <% end %>
    <%end%>
<%end%>

<% similarRecipesMap = Hash.new %>
<% similarRecipes.each do |recipe| %>
    <% feedbackSum = 0.0 %>
    <% feedbackCount = 0.0 %>
    <% recipe.feedbacks.each do |i| %>
        <% feedbackSum += i.rating %>
        <% feedbackCount += 1.0 %>
    <% end %>

    <% if recipe.feedbacks.empty? %>
       <% similarRecipesMap[recipe] = "No Ratings" %>
    <% else %>
       <% similarRecipesMap[recipe] = (number_with_precision(feedbackSum/feedbackCount, :precision => 2)).to_s%>
    <% end %>

<% end %>
<% similarRecipesMap = Hash[similarRecipesMap.sort_by {|k,v| v}.reverse] %>
<% loopStopCount = 0 %>
<% leftOver = Hash.new %>


    <table>
      <tr>
        <th>Name</th>
        <th>Rating</th>
      </tr>

<% similarRecipesMap.each do |recipe, rating| %>
          <tr>
    <% if !rating.eql? "No Ratings" %>
    <% if recipe.drinktype == "jjuice"%>
          <td><%= image_tag 'redcup.png' %>
      <% elsif recipe.drinktype == "martini"%>
          <td><%= image_tag 'glass.png' %>
      <% else%>
          <td><%= image_tag 'cocktail.png' %>
      <%end%><%= link_to recipe.name, recipe %> <td/><%= rating %><td/>
    <% loopStopCount += 1 %>
    <% if loopStopCount == 10 %>
        <% break %>
    <% end %>
    <% else %>
    <%leftOver[recipe] = rating %>
    <% end %>
          <tr/>
    <% end %>
<%if loopStopCount != 10 %>
    <% leftOver.each do |recipe, rating| %>
              <tr><% if recipe.drinktype == "jjuice"%>
                    <td><%= image_tag 'redcup.png' %>
                <% elsif recipe.drinktype == "martini"%>
                    <td><%= image_tag 'glass.png' %>
                <% else%>
                    <td><%= image_tag 'cocktail.png' %>
                <%end%><%= link_to recipe.name, recipe %><td/> <%= rating %> <td/>
        <% loopStopCount += 1 %>
        <% if loopStopCount == 10 %>
            <% break %>
        <% end %>
           <tr/>
    <% end %>
<% end %>
        </table>
  </div>



  <div class="well">


    <h1>Reviews</h1>
    <%= link_to 'Add Review', :controller => 'feedbacks', :action => 'new',
                :recipe_id => @recipe.id %>  <br>
    <% if @recipe.feedbacks.empty? %>
        No Reviews
    <% else %>
        <% @recipe.feedbacks.each do |o| %>
            <b>Feedback: </b> Rating: <%= o.rating %> | <%= o.comment %> <br />
        <% end %>
    <% end %>

</div>
</div>

  </div>
        </div>
