<div class="col-xs-2">
  <h4>Your Circles</h4>
  <%= render 'layouts/user_circles' %>
</div>
<div class="col-xs-10">
<%= render 'layouts/user_circles_memoryForm' %>
<h4>Memories from your Circles</h4>
<% @memories.reversed.each do |memory| %> 
  <% if current_user.circles.include? memory.circle %>
        <div class="panel panel-default">
	  <div class="panel-heading">
	    <small class="panel-heading"><%= memory.circle.name %> -- 
	      <%= memory.timeposted.beginning_of_minute.in_time_zone('Eastern Time (US & Canada)') %> --  
		 <%= link_to "Go to #{memory.circle.name}", memory.circle %></small>
	  </div>
	  <div class="panel-body">
	    <p class="lead"><%= memory.memory %></p><br>
	  </div>
	</div>
    <% end %>
  <% end %>
</div>
