<div class="col-xs-4">
  <h2>Your Circles</h2>
  <%= render 'layouts/user_circles' %>
</div>
<div class="col-xs-8">
  <h2>Recent Memories</h2>
<% @memories.reversed.each do |memory| %>
  <% if current_user.circles.include? memory.circle %>
        <div class="panel panel-default">
	  <div class="panel-heading">
	    <small class="panel-heading"><%= memory.circle.name %> -- 
	      <%= memory.timeposted.beginning_of_minute.in_time_zone('Eastern Time (US & Canada)') %> --  
		 <%= link_to "Go to #{memory.circle.name}", memory.circle %></small>
	  </div>
	  <div class="panel-body">
	    <p class="lead"><%= memory.memory %></p><br>
	  </div>
	</div>
    <% end %>
  <% end %>
</div>
