<div class="container">
  <% @users.each do |user| %>
      <div class="row">
        <div class="col-sm-1 col-xs-2">
          <%= image_tag(user.image_url, :class => 'list-profile-image') if user.image? %>
        </div>
        <div class="col-sm-4 col-xs-4">
          <%= link_to(user, :class => 'link-text user-name') do %>
              <%= user.first_name + " " + user.last_name %>
          <% end %>
          <br/>
          <span class='user-location'><%= user.location %></span>
        </div>
        <div class="col-sm-2 col-xs-2">
          <%= image_tag 'crystalball.png'%>
          <span class="metadata-text">
      <%= user.recipes.count %>
    </span>
        </div>
      </div>
      <br />
  <% end %>
</div>