<p id="notice"><%= notice %></p>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-2 col-xs-2">
    <%= image_tag @user.image_url, :class=>'profile-image' if @user.image? %>
  </div>
  <div class="col-sm-4 col-xs-4">
    <span class='user-name'><%= @user.first_name + " " + @user.last_name %></span> <br />
    <%= @user.location %> <br />
    <% if @user == User.find(session[:user_id]) %>
      <%= link_to 'Go to Your Fridge', new_fridge_ingredient_path %>
    <% else %>
      <p>Ask to share users fridge</p>
    <% end %>
    <div class="metadata-text">
      Number of Recipes: <%= @user.recipes.count %> <br>
      <% allRecipeSum = 0 %>
      <% numOfFeedbacks = 0 %>
      <% @user.recipes.each do |recipe| %>
      <% recipeSum = 0 %>
      <% recipe.feedbacks.each do |feedback| %>
      <% recipeSum += feedback.rating %>
      <% numOfFeedbacks += 1 %>
      <%end%>
      <% allRecipeSum += recipeSum %>
      <%end%>
      Average Recipe Rating: <%= number_with_precision(allRecipeSum.to_f / numOfFeedbacks, :precision => 2) %>
    </div>
  </div>
  <div class="col-sm-6 col-xs-6">
    <% if @user.recipes.empty? %>
      No recipes for the user have been defined.
    <% else %>
      <% @user.recipes.each do |o| %>
      <% feedbackSum = 0.0 %>
      <% feedbackCount = 0.0 %>
      <% o.feedbacks.each do |i| %>
      <% feedbackSum += i.rating %>
      <% feedbackCount += 1.0 %>
      <% end %>
      <b>Recipe: </b> 
      Name:  <%= link_to o.name, o %>| 
      Rating:
      <% if o.feedbacks.empty? %> 
        No feedback.
      <% else %>
      <%= number_with_precision(feedbackSum/feedbackCount, :precision => 2)%> 
      <% end %><br />
      <% end %>
      <% end %>
  </div>
</div>


