<h1>Listing feedback_ratings</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedback_ratings.each do |feedback_rating| %>
  <tr>
    <td><%= feedback_rating.name %></td>
    <td><%= link_to 'Show', feedback_rating %></td>
    <td><%= link_to 'Edit', edit_feedback_rating_path(feedback_rating) %></td>
    <td><%= link_to 'Destroy', feedback_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback rating', new_feedback_rating_path %>
