<%= form_for(@drinkability) do |f| %>
  <% if @drinkability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drinkability.errors.count, "error") %> prohibited this drinkability from being saved:</h2>

      <ul>
      <% @drinkability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
