<h1>Listing drinkabilities</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drinkabilities.each do |drinkability| %>
  <tr>
    <td><%= drinkability.name %></td>
    <td><%= link_to 'Show', drinkability %></td>
    <td><%= link_to 'Edit', edit_drinkability_path(drinkability) %></td>
    <td><%= link_to 'Destroy', drinkability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drinkability', new_drinkability_path %>
