<% @results.each do |result| %>
  <% case result.class.to_s %>
    <% when "Recipe" %>
      <li><%= link_to result.name, recipe_path(result.id) %></li>
    <% when "User" %>
      <li><%= link_to result.email, user_path(result.id) %></li>
      <div class="form-group">
      <%= form_for @invitation do |f| %>
	<%= f.hidden_field :sending_user_id, :value => current_user.id %>
	<%= f.hidden_field :receiving_user_id, :value => result.id %>
	<%= f.hidden_field :time_sent, :value => Time.now %>
	<%= f.label :invitable_id, "Invite user to Circle:" %>
	<%= collection_select(:invitation, :invitable_id, current_user.circles, :id, :name) %>
	<%= f.submit "Invite User" %>
	<% end %>
      </div>
    <% when "Circle" %>
    <li><%= link_to result.name, circle_path(result.id) %></li>  
    <% end %>
    <% end %>
