<p id="notice"><%= notice %></p>

<p>
  <strong>Circle:</strong>
  <%= @setting.circle_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @setting.type %>
</p>

<p>
  <strong>Invite only:</strong>
  <%= @setting.invite_only %>
</p>

<p>
  <strong>Show members:</strong>
  <%= @setting.show_members %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
