<%= form_for(@easienss) do |f| %>
  <% if @easienss.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@easienss.errors.count, "error") %> prohibited this easienss from being saved:</h2>

      <ul>
      <% @easienss.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
