<h1>Listing invitations</h1>

<table>
  <thead>
    <tr>
      <th>Sending user</th>
      <th>Receiving user</th>
      <th>Invitable</th>
      <th>Invitable type</th>
      <th>Time sent</th>
      <th>Accepted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.sending_user_id %></td>
        <td><%= invitation.receiving_user_id %></td>
        <td><%= invitation.invitable_id %></td>
        <td><%= invitation.invitable_type %></td>
        <td><%= invitation.time_sent %></td>
        <td><%= invitation.accepted %></td>
        <td><%= link_to 'Show', invitation %></td>
        <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
        <td><%= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invitation', new_invitation_path %>
