<%= form_for(@taste) do |f| %>
  <% if @taste.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taste.errors.count, "error") %> prohibited this taste from being saved:</h2>

      <ul>
      <% @taste.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
