<h1>Listing tastes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tastes.each do |taste| %>
  <tr>
    <td><%= taste.name %></td>
    <td><%= link_to 'Show', taste %></td>
    <td><%= link_to 'Edit', edit_taste_path(taste) %></td>
    <td><%= link_to 'Destroy', taste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taste', new_taste_path %>
