<h1>Listing user_memory_scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Memory</th>
      <th>Up</th>
      <th>Down</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_memory_scores.each do |user_memory_score| %>
      <tr>
        <td><%= user_memory_score.user_id %></td>
        <td><%= user_memory_score.memory_id %></td>
        <td><%= user_memory_score.up %></td>
        <td><%= user_memory_score.down %></td>
        <td><%= link_to 'Show', user_memory_score %></td>
        <td><%= link_to 'Edit', edit_user_memory_score_path(user_memory_score) %></td>
        <td><%= link_to 'Destroy', user_memory_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User memory score', new_user_memory_score_path %>
