<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @feedback.recipe_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @feedback.rating %>
</p>

<p>
  <b>Rating:</b>
  <%= @feedback.taste.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @feedback.drinkability.name %>
</p>

<p>
  <b>Rating:</b>
  <%= @feedback.easiness.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @feedback.comment %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
