<%= form_for(@fridge_ingredient) do |f| %>
  <% if @fridge_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fridge_ingredient.errors.count, "error") %> prohibited this fridge_ingredient from being saved:</h2>

      <ul>
      <% @fridge_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value=> @user.id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_name %><br />
    <%= f.text_field :ingredient_name, data: {autocomplete_source: Ingredient.order(:name).map(&:name)} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
         <!-- (:ingredient_id, Ingredient.all, :id, :name) -->