<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @fridge_ingredient.user_id %>
</p>

<p>
  <b>Ingredient:</b>
  <%= @fridge_ingredient.ingredient_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @fridge_ingredient.quantity %>
</p>


<%= link_to 'Edit', edit_fridge_ingredient_path(@fridge_ingredient) %> |
<%= link_to 'Back', fridge_ingredients_path %>
