<%= form_for(@circle_user) do |f| %>
  <% if @circle_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle_user.errors.count, "error") %> prohibited this circle_user from being saved:</h2>

      <ul>
      <% @circle_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :circle_id %><br>
    <%= f.number_field :circle_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
