<h1>Listing memories</h1>

<table>
  <thead>
    <tr>
      <th>Circle</th>
      <th>User</th>
      <th>Score</th>
      <th>Memory</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= memory.circle_id %></td>
        <td><%= memory.user_id %></td>
        <td><%= memory.score %></td>
        <td><%= memory.memory %></td>
        <td><%= link_to 'Show', memory %></td>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory', new_memory_path %>
