<h1>Listing drink_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drink_types.each do |drink_type| %>
      <tr>
        <td><%= drink_type.name %></td>
        <td><%= drink_type.description %></td>
        <td><%= link_to 'Show', drink_type %></td>
        <td><%= link_to 'Edit', edit_drink_type_path(drink_type) %></td>
        <td><%= link_to 'Destroy', drink_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink type', new_drink_type_path %>
