<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drink_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @drink_type.description %>
</p>

<%= @drink_type.picture_url(:thumb).to_s %>

<%= link_to 'Edit', edit_drink_type_path(@drink_type) %> |
<%= link_to 'Back', drink_types_path %>
