<%= form_for(@circle) do |f| %>
  <% if @circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

      <ul>
      <% @circle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>
 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: '6' %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
