<% @circle_user = CircleUser.find_by circle_id: @circle.id, user_id: current_user.id  %>
<div class="col-xs-2">
</div>
<div class="col-xs-10"> 
  <h1><%= @circle.name %></h1>
  <p class="lead"><%= @circle.description %></p>  
  <% if current_user.circles.include? @circle %>  <!-- If statement checking if user is a member of circle -->
    <%= link_to 'Leave the Circle', @circle_user, method: :delete, data: { confirm: 'Do you really want to leave circle?' } %>
    <p id="notice"><%= notice %></p>
    <%= render 'layouts/memoryForm' %> <!-- load memory post -->
</div>
<div class="row">
  <div class="col-xs-2">
    <h4>Circle Members </h4>
    <%= render 'layouts/circleMembers' %> <!-- show circle member list unless hidden in settings circleMembers.html.erb -->
  </div>
  <div class="col-xs-10">
    <% @memories = @circle.memories %> <!-- load circle memories -->
    <%= render 'layouts/memory' %> <!-- render memories layout located in /layouts/memory.html.erb -->
  <% elsif !@circle.setting.invite_only? %>  <!-- If circle isn't invite only then render /layouts/joincircleform.html.erb -->
    <%= render 'layouts/joincircleform' %>  <!-- offering user the opportunity to join the circle -->
  <% end %><br>
<% if @circle.user = current_user %> <!-- Is current user circle owner? -->  
  <%= link_to 'Edit', edit_circle_path(@circle) %> | <!-- Can edit circle if yes -->
<% end %>
<%= link_to 'Back', circles_path %>
  </div>
</div>
<br>
