<div class="col-xs-6">
<p id="notice"><%= notice %></p>
<p>
  <strong>Creating User:</strong>
  <%= @circle.user.email %>
</p>
<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @circle.description %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @circle.picture %>
</p>
<% if current_user.circles.include? @circle %>
<% @circle.memories.each do |memory| %>
    <p class="lead"><%= memory.memory %></p><br>
  <% end %>
</div>
<div class="col-xs-6">
  <% @circle_user = CircleUser.find_by_user_id(current_user.id) %>
  <p>Welcome back to the Circle</p>
  <%= link_to 'Leave the Circle', @circle_user, method: :delete, data: { confirm: 'Do you really want to leave circle?' } %>
  <%= render 'layouts/memoryForm' %>
    
<% else %>
  <%= render 'layouts/joincircleform' %>
<% end %>
</div>
<br>
<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
