<div class="col-xs-6">
<p id="notice"><%= notice %></p>
<p>
  <strong>Circle Name:</strong>
  <%= @circle.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @circle.description %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @circle.picture %>
</p>
<br>
<% if current_user.circles.include? @circle %>
  <% @circle.memories.reversed.each do |memory| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <small class="panel-heading"><%= memory.timeposted.beginning_of_minute.in_time_zone('Eastern Time (US & Canada)') %></small>
    </div>
    <div class="panel-body">
      <% if memory.picture %>
	    <%= image_tag memory.picture.picture_url(:thumb).to_s %>
	    <% end %>
      <p class="lead"><%= memory.memory %></p><br>
    </div>
  </div>
    <% end %>
</div>
<div class="col-xs-6">
  <% @circle_user = CircleUser.find_by circle_id: @circle.id, user_id: current_user.id  %>
  <p>Welcome back to the Circle</p>
  <%= link_to 'Leave the Circle', @circle_user, method: :delete, data: { confirm: 'Do you really want to leave circle?' } %>
  <%= render 'layouts/memoryForm' %>    
<% elsif !@circle.setting.invite_only? %>
  <%= render 'layouts/joincircleform' %>
<% end %>
</div>
<br>
<% if @circle.user = current_user %> 
  <%= link_to 'Edit', edit_circle_path(@circle) %> |
<% end %>
<%= link_to 'Back', circles_path %>
