<p id="notice"><%= notice %></p>

<p>
  <strong>Creating User:</strong>
  <%= @circle.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @circle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @circle.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @circle.picture %>
</p>

<%= link_to 'Edit', edit_circle_path(@circle) %> |
<%= link_to 'Back', circles_path %>
