<% @memories.reversed.each do |memory| %> 
  <% if current_user.circles.include? memory.circle %>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <small class="panel-heading"><%= memory.circle.name %> -- 
	    <%= memory.timeposted.beginning_of_minute.in_time_zone('Eastern Time (US & Canada)') %> --  
	    <%= link_to "Go to #{memory.circle.name}", memory.circle %></small>
	</div>
	<div class="panel-body">
	  <% if memory.picture %>
	  <%= image_tag memory.picture.picture_url.to_s, class: "img-rounded img-responsive" %>
	  <% end %>
	  <p class="lead"><%= memory.memory %></p><br>
	  <% @user_memory_score = UserMemoryScore.find_by user_id: current_user.id, memory_id: memory.id %> 
	  <% if @user_memory_score.nil? %>
	    <%= form_for @new_user_memory_score do |f| %>
	      <%= f.hidden_field :user_id, :value => current_user.id %>
	      <%= f.hidden_field :memory_id, :value => memory.id %>
	      <%= f.check_box :up %>
	      <%= f.label :up, "Vote Post Up" %>
	      <%= f.check_box :down %>
	      <%= f.label :down, "Vote Post Down" %>
	      <%= f.submit 'Vote' %>
	    <% end %>
	  <% else %>
	    <% @total_scores = memory.user_memory_scores.count %>
	    <% @up_scores = memory.user_memory_scores.where("up = true").count  %> 
	    <% @down_scores = memory.user_memory_scores.where("down = true").count  %> 
	    <%# @up_percent = @up_scores \ @total_scores * 100 %> <%= "#{@up_scores} Voted Up" %>
	    <%= "#{@down_scores} Voted Down" %>
	  <% end %>
	</div>
      </div>         
      <% if memory.comments %>
      <div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-11">
	  <% memory.comments.each do |comment| %>
	  <p class="lead">
	    <%= comment.comment %>
	  </p> 
	  <br>
	  <% end %>
	  <%= form_for(@comment, role: "form") do |f| %>
	  <div class="form-group">
	    <%= f.hidden_field :memory_id, :value => memory.id %>
	    <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: "Post a comment" %>
	  </div>
	  <%= f.submit %>
	  <% end %>
	</div>
      </div>
    </div>
  </div>
  <% end %>
      <% end %>
      <% end %>

