<%= form_for(@memory, role: "form") do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>
      <ul>
      <% @memory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %><br>
    <%= f.hidden_field :timeposted, :value => Time.now %>
  <div class="form-group">
    <%= f.label :memory %><br>
    <%= f.text_area :memory, rows: '5', class: "form-control", placeholder: 'Post a memory to the drinking circle.' %>
  </div>
  <div>
    <%= f.label :circle_id, 'Choose Circle to Post To:' %>
    <%= collection_select(:memory, :circle_id, @user_circles, :id, :name, class: "form-control") %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

