<html>
<head>
  <title>myFridge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path 'qi_120.png' %>">
  <!-- link rel="apple-touch-startup-image" href="<%= asset_path 'default-iphone5.png' %>" -->
  <link rel="apple-touch-startup-image" href="<%= asset_path 'default-iphone4.png' %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
